<div class="admin-panel-wrap">
    <div class="icon32 icon-options-general">
        <br/>
    </div>
    <h2>Add Host Group</h2>
    <form action="default" method="post">
        <table class="form-table">
            <tbody>
                <tr valign="top">
                    <th scope="row">
                        <label>Group Name</label>
                    </th>
		    <td>
                        <input class="regular-text" type="text" name="group_name" id="group_name" value=""/>
                    </td>
                </tr>

            </tbody>
        </table>
        <p class="submit">
            <input class="button-primary" type="submit" value="Add!" name="addhg"/>
        </p>
    </form>
</div>
