<div class="admin-panel-wrap">
    <div class="icon32 icon-options-general">
        <br/>
    </div>
    <h2>Ping</h2>
    <{if $execMessage}>
    <div id="execMessage" class="updated fade" style="background-color: rgb(255, 251, 204);">
        <{section name=line loop=$execMessage}>
        <p>
            <strong><{$execMessage[line]}></strong>
        </p>
        <{/section}>
    </div>
    <{else}>
    <{/if}>
    <form action="" method="post">    
        <table class="form-table">
            <tbody>
                <tr valign="top">
                    <th scope="row">
                        <label>Enter host name or ip:</label>
                    </th>
                    <td>
                        <input class="regular-text" type="text" name="ping_des" id="ping_des" value="127.0.0.1"/>
                    </td>
                </tr>
                <tr valign="top">
                    <th scope="row">
                        <label>Stop after sending (and receiving) N packets:</label>
                    </th>
                    <td>
                        <select name="ping_count">
                            <{section name=customer loop=10 start=1}>
                            <option value="<{$smarty.section.customer.index}>"><{$smarty.section.customer.index}></option>
                            <{/section}>
                        </select>
                    </td>
                </tr>
                <tr valign="top">
                    <th scope="row">
                        <label>Data size</label>
                    </th>
                    <td>
                        <select name="ping_sizeof">
                            <{section name=customer loop=10 start=2 step=2}>
                            <{assign var=size value=$smarty.section.customer.index*$smarty.section.customer.index}>
                            <option value="<{$size}>"><{$size}>kb</option>
                            <{/section}>
                        </select>
                    </td>
                </tr>
            
            </tbody>
        </table>
        <p class="submit">
            <input class="button-primary" type="submit" value="Ping!" name="Submit"/>
        </p>
    </form>
</div>
