<div class="admin-panel-wrap">
    <div class="icon32 icon-options-general">
        <br/>
    </div>
    <div class="admin-panel-wrap">
        <h2>Release Notes</h2>
        <p>
            OpenSMT is a web-based storage management toolkit for OpenSolaris.<br>
			You can download it from the following link: <a href="http://code.google.com/p/opensmt-project">http://code.google.com/p/opensmt-project/</a>



        </p>

        <!-- -->
        <textarea style="width: 98%;" id="content" name="content" class="listcontent" rows="30" readonly cols="">

OpenSMT 0.01:
------------

Initial release!
        </textarea>

    </div>
    <br />
    <h3>Feedback and Bug Reports</h3>
    <p>
        If anything troubles you when using OpenSMT or some bugs found,  it is appreciated to send mail to us.<br>
        Contace us: <a href="opensmt-dev@googlegroups.com" target="_blank">opensmt-dev@googlegroups.com</a>
    <p><br/>


</div>
