<div class="admin-panel-wrap">
    <div class="icon32 icon-options-general">
        <br/>
    </div>
    <h2>System</h2>
    
    <form method="get" action="">
    <table class="form-table">
        <tbody>
            <tr valign="top">
                <th scope="row">
                    <label>Hostname</label>
                </th>
                <td>
                   <{$Auto_Hostname}>
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>Version</label>
                </th>
                <td>
                    <{$Auto_Version}>
                   
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>OS Version</label>
                </th>
                <td>
                    <{$Auto_OS_Version}>
                  
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>Platform</label>
                </th>
                <td>
                    <{$Auto_Platform}>
                   
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>System Time</label>
                </th>
                <td>
                    <{$Auto_System_Time}>
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>Uptime</label>
                </th>
                <td>
                    <{$Auto_Uptime}>
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>Load Average</label>
                </th>
                <td>
                    <{$Auto_Load_Average}>
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>CPU Temperature</label>
                </th>
                <td>
                    <{$Auto_CPU_Temperature}>
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>CPU Frequency</label>
                </th>
                <td>
                    <{$Auto_CPU_Frequency}>
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>CPU Usage</label>
                </th>
                <td>
                    <{$Auto_CPU_Usage}>
                </td>
            </tr>
            <tr valign="top">
                <th scope="row">
                    <label>Memory Usage</label>
                </th>
                <td>
                    <{$Auto_Memory_Usage}>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="submit">
        <input class="button-primary" type="submit" value="refresh" />
    </p>
    </form>
</div>
