<div class="admin-panel-wrap">
    <div class="icon32 icon-options-general">
        <br/>
    </div>
    <div class="admin-panel-wrap">
        <h2>Target List</h2>
        <form class="posts-filter" action="" method="post" id="target">
            <table class="widefat post fixed" cellspacing="0">
                <thead>
                    <tr>
                        <th class="manage-column column-title" style="" scope="col" width="50%">Target Name</th>
			<th class="manage-column column-author" style="" scope="col">State</th>
			<th class="manage-column column-author" style="" scope="col" width="20%">Session</th>
                        <th class="manage-column column-author" style="" scope="col"></th>
                        <th class="manage-column column-author" style="" scope="col"></th>
                    </tr>
	    	</thead>
		<tbody>
        		<{foreach from=$myArray item=row}>
			<tr>
				<{foreach from=$row item=col}>
				<td><{$col}></td>
				<{/foreach}>
                                <td>
                                        <{if $row[1]=='online'}>
					<input class="button-secondary action doaction" type="submit" name = "<{$row[0]}>O" value="Offline"/>
                                        <{else}>
                                        <input class="button-secondary action doaction" type="submit" name = "<{$row[0]}>L" value="Online"/>
                                        <{/if}>
	    			</td>
                                <td>
					<input class="button-secondary action doaction" type="submit" name = "<{$row[0]}>" value="Delete"/>
	    			</td>
			</tr>
			<{/foreach}>
		</tbody>
            </table>

        </form>

        <form action="" method="post">
        <p class="submit">
            <input class="button-primary" type="submit" value="Create Target" name="createtarget" />
        </p>
        </form>

    </div>
        <{if $execMessage}>
    <div id="execMessage" class="updated fade" style="background-color: rgb(255, 251, 204);">
        <{section name=line loop=$execMessage}>
        <p>
            <strong><{$execMessage[line]}></strong>
        </p>
        <{/section}>
    </div>
    <{else}>
    <{/if}>
</div>
