<div class="admin-panel-wrap">
    <div class="icon32 icon-options-general">
        <br/>
    </div>
    <h2>zfs edit</h2>
    <form action="zfsmanage" method="post">
        <table class="form-table">
            <tbody>
                <tr valign="top">
                    <th scope="row">
                        <label>zfs name</label>
                    </th>
		    <td>
		        <input class="regular-text" type="text" readonly="readonly"  name="zfseditname" id="zfseditname" value="<{$zfs_name}>"/>
                    </td>
                </tr>
                <tr valign="top">
                    <th scope="row">
                        <label>mountpoint</label>
                    </th>
                    <td>
                        <input class="regular-text" type="text"  name="mountpoint" id="mountpoint" value="<{$mountpoint}>"/>
                    </td>
                </tr>
                <tr valign="top">
                    <th scope="row">
                        <label>share</label>
                    </th>
                    <td>
                        <select name="share">
                            <{if $share == "on"}>
				<option value='on'>on</option>
				<option value='off'>off</option>
                            <{else}>
                                <option value='off'>off</option>
				<option value='on'>on</option>
                            <{/if}>
                        </select>
                    </td>
                </tr>
                <tr valign="top">
                    <th scope="row">
                        <label>quota</label>
                    </th>
                    <td>
                        <input class="regular-text" type="text"  name="quota" id="quota" value="<{$quota}>"/>
                    </td>
                </tr>
		<tr valign="top">
		    <th scope="row">
                        <label>reservation</label>
		    </th>
                    <td>
                        <input class="regular-text" type="text"  name="reservation" id="reservation" value="<{$reservation}>"/>
                    </td>
                </tr>
                <tr valign="top">
		    <th scope="row">
                        <label>others</label>
		    </th>
                    <td>
                        <select name="otherattr">
				    <{foreach from=$zfs_attr item = attr}>
				    <option value = "<{$attr}>"><{$attr}></option>
				    <{/foreach}>
			</select>
                    </td>
                </tr>
                <tr valign="top">
		    <th scope="row">
                        <label></label>
		    </th>
                    <td>
                        <input class="regular-text" type="text"  name="othervalue" id="othervalue" value=""/>
                        <pre>
If you want to change other attribute, choose the attribute, and write the value here.And check the result by zfsquery.
                        </pre>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="submit">
            <input class="button-primary" type="submit" value="Apply Changes!" name="Submit"/>
        </p>
    </form>
</div>
<script type="text/javascript">
    selElement = 'mountpoint';
    selPath = document.getElementById('mountpoint').getAttribute("value")
    if (selPath == '') selPath = '/'
    $('mountpoint').addEvent('click',function(){
        window.open("<{$webUrl}>/file/browser/dir/?dir="+selPath, 'strWindowName', 'strWindowFeatures');
    })
</script>